<ng-container *ngIf="!isDone; else showSummary">
  <form (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width" style="margin-right: 1rem;">
      <input
        matInput
        placeholder="Please enter a number"
        type="number"
        [formControl]="newNumber"
      />
    </mat-form-field>

    <button
      [disabled]="newNumber.invalid"
      style="margin-right: 1rem;"
      mat-raised-button
      color="primary"
    >
      Submit
    </button>
  </form>

  <button style="margin-right: 1rem;" mat-icon-button (click)="togglePlay()">
    <mat-icon aria-label="Pause">{{
      isPaused ? "play_arrow" : "pause"
    }}</mat-icon>
  </button>

  <button (click)="isDone = true" mat-raised-button color="warn">Quit</button>
</ng-container>
<ng-template #showSummary>
  <h2>Thank you for playing</h2>
  {{ currentOccurenceMessage }}
</ng-template>
